<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EojeolAnswerMapper">
  	
	<sql id="ej_full_cols">
		ej.exam_ref
		, ej.eojeol_ref
		, ej.sentence_ref
		, ej.student_ref
		, ej.student_age_month
		, ej.trial
		, ej.correct
		, ej.elapsed_time
	</sql>
  	<resultMap type="EojeolAnswer" id="ej_map">
  		<result column="exam_ref" property="examRef"/>
  		<result column="eojeol_ref" property="eojeolRef"/>
  		<result column="sentence_ref" property="sentenceRef"/>
  		<result column="student_ref" property="studentRef"/>
  		<result column="student_age_month" property="ageInMonth"/>
  		<result column="trial" property="value"/>
  		<result column="correct" property="correct"/>
  		<result column="elapsed_time" property="elapsedTimeMillis"/>
  	</resultMap>
  	<!-- <select id="" parameterType="" resultMap="*">
  	</select> -->
  	<insert id="insertAnswer" parameterType="list">
	  	INSERT INTO dt_eojeol_answers (
	  	  exam_ref
		, eojeol_ref
		, sentence_ref
		, student_ref
		, student_age_month
		, trial
		, correct
		, elapsed_time ) VALUES 
		<foreach collection="list" item="submit" open="" separator="," close="" >
		(
		     #{submit.examRef},
			 #{submit.eojeolRef},
			 #{submit.sentenceRef},
			 #{submit.studentRef}, 
			 #{submit.ageInMonth}, 
			 #{submit.value}, 
			 #{submit.correct}, 
			 #{submit.elapsedTimeMillis}
		 )
		</foreach>
  	</insert>
</mapper>