<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ExamPaperMapper">
  	
  	<sql id="exam_full_cols">
  		   dep.exam_seq
  			,dep.section_ref
 			, dep.student_ref
 			, dep.student_age_month
 			, dep.`type`
 			, dep.mode
 			, dep.question_offset
 			, dep.num_of_questions
 			, dep.start_time
 			, dep.end_time
  	</sql>
  	<resultMap type="ExamPaper" id="exam_map">
  		<id column="exam_seq" property="seq"/>
  		<result column="section_ref" property="sectionRef"/>
  		<result column="student_ref" property="studentRef"/>
  		<result column="student_age_month" property="ageInMonth"/>
  		<result column="type" property="type"/>
  		<result column="mode" property="mode"/>
  		<result column="question_offset" property="questionOffset"/>
  		<result column="num_of_questions" property="numOfQuestions"/>
  		<result column="start_time" property="startTime"/>
  		<result column="end_time" property="endTime"/>
  		<collection property="submissions"  javaType="list"
  			resultMap="ExamAnswerMapper.ans_map" ofType="ExamAnswer"></collection>
  	</resultMap>
  	<!-- <select id="" parameterType="" resultMap="*">
  	</select> -->
  	<select id="findExamBySectionAndStudent" parameterType="map" resultMap="exam_map">
	  	SELECT 
	  		<include refid="exam_full_cols"></include>
	  		, <include refid="ExamAnswerMapper.ans_full_cols"></include>
		FROM dt_exam_papers  dep 
		JOIN dt_exam_answers ans
		  ON dep.exam_seq = ans.exam_ref 
		WHERE dep.student_ref = #{student}
		      AND
		      dep.section_ref = #{section}
		      AND
		      dep.type = #{type};
  	</select>
  	<!-- 
  	 // 주어진 학생의 시험 결과 조회
  	 // 입력한 정답 및 오답 내역까지 모두 반환함
  	 -->
  	<select id="findExamsByStudent" parameterType="long" resultMap="exam_map">
	  	SELECT 
	  		<include refid="exam_full_cols"></include>
	  		, <include refid="ExamAnswerMapper.ans_full_cols"></include>
		FROM dt_exam_papers  dep 
		JOIN dt_exam_answers ans
		  ON dep.exam_seq = ans.exam_ref 
		WHERE dep.student_ref = #{userSeq}
  	</select>
  	<!--
  	 // 주어진 학생에 대해서 segment마다 가장 최근 "퀴즈" 답안 1건씩 조회
  	 // (차트에서 사용됨)
  	 -->
  	<select id="findRecentExamsPerSegment" parameterType="long" resultMap="exam_map">
  		SELECT
			<include refid="exam_full_cols"></include>
			, <include refid="ExamAnswerMapper.ans_full_cols"></include>
		FROM (
			SELECT
				MAX(ep.exam_seq) as last_exam_seq 
			FROM dt_exam_papers ep
			WHERE ep.student_ref = #{studentSeq} 
			  AND ep.mode = 'Q'
			GROUP BY
				ep.section_ref,
				ep.question_offset,
				ep.`type`
		    )_let
		JOIN dt_exam_papers dep
		  ON _let.last_exam_seq = dep.exam_seq
		JOIN dt_exam_answers ans
		  ON dep.exam_seq = ans.exam_ref 
		ORDER
		  BY dep.section_ref, dep.question_offset  
  	</select>
  	<insert id="insertExamPaper" parameterType="ExamPaper"
  		useGeneratedKeys="true"
  		keyColumn="exam_seq"
  		keyProperty="seq">
  		INSERT INTO dt_exam_papers (
 			  section_ref
 			, student_ref
 			, student_age_month
 			, `type`
 			, mode
 			, question_offset
 			, num_of_questions
 			, start_time
 			, end_time
		) VALUES (
			  #{sectionRef}
			, #{studentRef}
			, #{ageInMonth}
			, #{type}
			, #{mode}
			, #{questionOffset}
			, #{numOfQuestions}
			, #{startTime}
			, #{endTime} 
		);
  	</insert>
  </mapper>