<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ExamAnswerMapper">
  	
  	<sql id="ans_full_cols">
  		 ans.exam_ref
		, ans.sentence_ref
		, ans.correct
		, ans.trial
		, ans.elapsed_time
		, ans.analysis
  	</sql>
  	
  	<resultMap type="ExamAnswer" id="ans_map">
  		<id column="exam_ref" property="examRef"/>
  		<id column="sentence_ref" property="sentenceRef"/>
  		<result column="correct" property="correct"/>
  		<result column="trial" property="value"/>
  		<result column="elapsed_time" property="elapsedTimeMillis"/>
  		<result column="analysis" property="analysis"/>
  	</resultMap>
  	
  	<!-- <select id="" parameterType="" resultMap="*">
  	</select> -->
  	<insert id="insertExamAnswer" parameterType="ExamAnswer">
  		INSERT INTO dt_exam_answers (
			  exam_ref
			, sentence_ref
			, correct
			, trial
			, elapsed_time
		) VALUES (
			  #{examRef}
			, #{sentenceRef}
			, #{correct}
			, #{value}
			, #{elapsedTimeMillis}
		)
  	</insert>
  	<update id="updateAnalysis" parameterType="ExamAnswer">
		UPDATE dt_exam_answers
		SET
			analysis = #{analysis}
		WHERE exam_ref     = #{examRef}
		 AND  sentence_ref = #{sentenceRef}
	</update>
  </mapper>