<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ExamStatsMapper">
  	
  	<sql id="_cols">
  		 
  	</sql>
  	<!-- <resultMap type="" id="*">
  		<id column="" property=""/>
  		<result column="" property=""/>
  		<result column="" property=""/>
  		<result column="" property=""/>
  		<result column="" property=""/>
  		<result column="" property=""/>
  		<result column="" property=""/>
  		<result column="" property=""/>
  	</resultMap> -->
  	<select id="findSectionStatsByStudent" parameterType="long" resultType="SectionStats">
	  	SELECT 
			dep.exam_seq           as examRef,
			dep.section_ref        as sectionRef,
			dep.type               as type,
			dep.start_time         as startTime,
			#{student}             as studentRef,
			dep.num_of_questions   as total,
			SUM(ans.correct = 'Y') as correct,
			SUM(ans.correct = 'N') as failed
		FROM dt_exam_papers dep 
		JOIN dt_exam_answers ans
		  ON dep.exam_seq = ans.exam_ref
		WHERE dep.student_ref = #{student}
		GROUP BY dep.exam_seq;
  	</select>
  	
  </mapper>