<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="VoiceMapper">
  	<!-- 
  	<sql id="_cols">
  	</sql>
  	<resultMap type="" id="*">
  		<id column="" property=""/>
  		<result column="" property=""/>
  		<result column="" property=""/>
  		<result column="" property=""/>
  		<result column="" property=""/>
  		<result column="" property=""/>
  		<result column="" property=""/>
  		<result column="" property=""/>
  	</resultMap>
  	<select id="" parameterType="" resultMap="*">
  	</select> -->
  	<select id="selectHashes" resultType="string">
  		SELECT text_hash from dt_voices
  	</select>
  	<insert id="insertVoice" parameterType="Voice"
  		useGeneratedKeys="true" keyColumn="vseq" keyProperty="seq">
  	INSERT INTO dt_voices (
  		text_hash, origin_text, voice_origin, file_path, file_size
  	) VALUES(
  		#{textHash}, #{originText}, #{origin}, #{filePath}, #{fileSize}
  	);
  	</insert>
  </mapper>